@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme{
  --color-licorice: #1F0005;
  --color-dark_maroon: #380009;
  --color-cocoa_bean: #541B23;
  --color-night: #14010E;
}


@keyframes slidein-fadein-left {
  from { opacity: 0; transform: translateX(-8rem); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slidein-fadein-right {
  from { opacity: 0; transform: translateX(8rem); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slideout-fadeout-right {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(8rem); }
}
@keyframes slideout-fadeout-left {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(-8rem); }
}
.animate-slidein-fadein-left {
  animation: slidein-fadein-left 1.2s cubic-bezier(0.22,1,0.36,1);
}
.animate-slidein-fadein-right {
  animation: slidein-fadein-right 1.2s cubic-bezier(0.22,1,0.36,1);
}
.animate-slideout-fadeout-right {
  animation: slideout-fadeout-right 1.2s cubic-bezier(0.22,1,0.36,1);
}
.animate-slideout-fadeout-left {
  animation: slideout-fadeout-left 1.2s cubic-bezier(0.22,1,0.36,1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #210215;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
